$leaf-green: #4CAF50;
$sky-blue: #87CEEB;
$sunflower-yellow: #FFD700;
$soft-peach: #FFDAB9;
$earth-brown: #8B4513;
$button-text-color: #ffffff;  
$search-border-color: #4CAF50; 
$submit-border-color: #FFD700;
$button-height: 40px;
$button-weight: 110px;


.my-favorite-btn {
  background-color: $sky-blue;
  border-radius: 50%; 
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;

  &:hover {
    background-color: darken($sky-blue, 10%)
  }
}
  
.fetch-fish-btn,
.fetch-bugs-btn,
.fetch-villagers-btn {
  background-color: $leaf-green;
  color: $button-text-color;
  height: $button-height;
  width: $button-weight;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($leaf-green, 10%);
  }

  i {
    margin-right: 8px;
  }
}

.submit-search-button {
  background-color: $sunflower-yellow;
  height: $button-height;
  width: 80px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: darken($sunflower-yellow, 10%);
  }
}

.filter-btn {
  background-color: $soft-peach;
  height: 20px;
  width: $button-weight;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  

  &:hover {
    background-color: darken($soft-peach, 10%);
  }
}