@mixin container-styles() {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
}

.villagers-container {
    @include container-styles(); 
}

// Bugs Container
.bugs-container {
    @include container-styles(); 
}

// Fish Container
.fish-container {
    @include container-styles();  
}

// Favorites Container
.favorites-container {
    @include container-styles();
}
