.personality h4 {
    margin: 5px;
}

.gender h4 {
  margin: 5px;
}

.species h4 {
  margin: 5px;
}

.filter-button {
  background-color: #f0f0f0;
  background: transparent;
  border: 2px solid #8B4513;
  margin: 5px;
  height: 30px;
  width: 90px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background 0.2s, color 0.2s;

  &:hover {
    background-color: #ddd;
  }

  &.active {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
  }
}

  