@use "components/buttons/buttons.scss";
@use "components/searchfield/searchFieldContainer.scss";
@use "components/searchfield/searchfield.scss";
@use "components/cards/card.scss";
@use "components/cards/cardsContainer.scss";
@use "components/checkboxes/checkbox.scss";


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto auto auto auto; 
  gap: 20px; 


  grid-template-areas: 
    "fetch-container"
    "search-input"
    "filter-container"
    "card-container";

  
  .fetch-container {
    grid-area: fetch-container;
  }

  .search-input {
    grid-area: search-container;
  }

  .filter-container {
    grid-area: filter-container;
  }

  .card-container {
    grid-area: card-container;
  }
}

  .card-container {
  display: flex;
  flex-direction: column;
}

  .fetch-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  } 


.footer-container {
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  text-align: center;
}
