@use "./components/buttons/buttons.scss";
@use "components/searchfield/searchfield.scss";
@use "components/cards/card.scss";
@use "components/checkboxes/checkbox.scss";
@use "mixin.scss" as *;
@use "layout.scss";

body {
  font-family: Arial, sans-serif;
  background-color: #faefe0;
  color: #3A3A3A;
  margin: 0;
  padding: 0;
}

