.search-container {
    width: 450px;
    height: 250px;
    background-image: url('src/assets/wood-texture.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


  
